version: "3"

services:

  static_management:
    build: ./static_management
    container_name: static_management
    restart: always
    environment:
      - APP_NAME=static_management
    expose:
      - 9000
    ports:
      - "127.0.0.1:9000:9001"
  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    ports:
      - "127.0.0.1:80:80"
